<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Mysql>
    <!--Mysql server address-->
    <Server>localhost</Server>
    <!--Main database for the emulator-->
    <Database>realmemu</Database>
    <!--Port for mysql-->
    <Port>3306</Port>
    <!--Mysql username and password-->
    <Username>realmclient</Username>
    <Password>password</Password>
  </Mysql>
  <Servers>
    <Router>
      <!--main Router port is always 7002-->
      <Address>127.0.0.1</Address>
    </Router>
    <Patch>
      <!--Patch server address and port-->
      <Address>127.0.0.1</Address>
      <Port>7002</Port>
    </Patch>
  </Servers>
  <!--Add as many world servers as you want-->
  <!--Server 1-->
  <WorldServer>
    <Servername>Test</Servername>
    <Address>127.0.0.1</Address>
    <Port>8001</Port>
    <!--Place in server list displayed to player, starts at 0-->
    <Index>0</Index>
  </WorldServer>
</Config>